.storyCircle {
  border-radius: 50%;
  padding: 6px;
  background: conic-gradient(
                  from 180deg,
                  #feda75,
                  #fa7e1e,
                  #d62976,
                  #962fbf,
                  #4f5bd5,
                  #feda75
  );
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    opacity: 0.8;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.94);
  }
}

.storyImage {
  border-radius: 555px;
  border: none;
  cursor: pointer;

  object-fit: cover;
  background: transparent;
}