.reviewsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 60px;

  @media screen and (max-width: 1028px) {
    gap: 25px;
  }
}

.title {
  font-size: var(--64px);
  font-weight: 700;
  text-align: center;
  color: var(--black);

  @media screen and (max-width: 1028px) {
    font-size: var(--34px);
  }
}

.list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;

  padding-bottom: 10px;
  scroll-snap-type: x mandatory; // плавне фіксування елементів
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
}

.list > * {
  flex: 0 0 auto;               // Кожен елемент — фіксована ширина
  scroll-snap-align: start;     // кожен елемент "прилипає" красиво
}
