.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
  border-radius: 12px;
}

.functionality {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.fileInput {
  display: none;
}

.videoThumb{
    width: 80px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.selectFileBtn {
  margin-top: 16px;
}

.filePreviewRow {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 350px;
  align-items: center;
  gap: 16px;
}

.filePreviewImg,
.filePreviewVideo {
  width: 180px;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}

.fileNameBadge {
  padding: 8px 16px;
  background: #eee;
  border-radius: 8px;
  font-size: 14px;
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faqItem {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.uploadBtn {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 15px;

}

.mediaPreviewGrid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 16px;
}

.mediaPreviewItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mediaPreviewImg,
.mediaPreviewVideo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  display: flex;
  border-radius: 8px;
}